# Part 3B
Loveida Lucero

**Imports**

In [1]:
!pip install plotly

Requirement already satisfied: plotly in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (5.15.0)
Requirement already satisfied: tenacity>=6.2.0 in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (8.2.2)
Requirement already satisfied: packaging in c:\users\lovei\anaconda3\envs\dojo-env\lib\site-packages (from plotly) (23.0)

In [2]:
## Standard Imports
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
## Importing the OS and JSON Modules
import os,json
# importing plotly
import plotly.express as px
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

**Load Data**

In [3]:
basics = pd.read_csv('Data/basics.csv')
basics.info()
basics.head(2)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 86979 entries, 0 to 86978
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   tconst          86979 non-null  object
 1   titleType       86979 non-null  object
 2   primaryTitle    86979 non-null  object
 3   originalTitle   86979 non-null  object
 4   isAdult         86979 non-null  int64
 5   startYear       86979 non-null  float64
 6   endYear         0 non-null      float64
 7   runtimeMinutes  86979 non-null  int64
 8   genres          86979 non-null  object
dtypes: float64(2), int64(2), object(5)
memory usage: 6.0+ MB

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama

# Split the Genres

In [4]:
# create new column with a list of split genres
basics['genres_split'] = basics['genres'].str.split(',')
basics.head(2)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance","[Comedy, Fantasy, Romance]"
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,[Drama]

In [5]:
# separate the genres into rows
exploded_genres = basics.explode('genres_split')
exploded_genres.head()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres,genres_split
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Comedy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Fantasy
0,tt0035423,movie,Kate & Leopold,Kate & Leopold,0,2001.0,NaN,118,"Comedy,Fantasy,Romance",Romance
1,tt0062336,movie,The Tango of the Widower and Its Distorting Mi...,El tango del viudo y su espejo deformante,0,2020.0,NaN,70,Drama,Drama
2,tt0069049,movie,The Other Side of the Wind,The Other Side of the Wind,0,2018.0,NaN,122,Drama,Drama

In [6]:
# Save list of unique genres
unique_genres = sorted(exploded_genres['genres_split'].unique())
unique_genres

['Action',
 'Adult',
 'Adventure',
 'Animation',
 'Biography',
 'Comedy',
 'Crime',
 'Drama',
 'Family',
 'Fantasy',
 'Game-Show',
 'History',
 'Horror',
 'Music',
 'Musical',
 'Mystery',
 'News',
 'Reality-TV',
 'Romance',
 'Sci-Fi',
 'Sport',
 'Talk-Show',
 'Thriller',
 'War',
 'Western']

# Create Title_Genres Dataframe

In [7]:
# save tconst and genres split into title_genres table
title_genres = exploded_genres[['tconst', 'genres_split']].copy()
title_genres.head()

      tconst genres_split
0  tt0035423       Comedy
0  tt0035423      Fantasy
0  tt0035423      Romance
1  tt0062336        Drama
2  tt0069049        Drama

In [8]:
# Map out a dictioary for genre ids
genre_ints = range(len(unique_genres))
genre_map = dict(zip(unique_genres, genre_ints))
genre_map

{'Action': 0,
 'Adult': 1,
 'Adventure': 2,
 'Animation': 3,
 'Biography': 4,
 'Comedy': 5,
 'Crime': 6,
 'Drama': 7,
 'Family': 8,
 'Fantasy': 9,
 'Game-Show': 10,
 'History': 11,
 'Horror': 12,
 'Music': 13,
 'Musical': 14,
 'Mystery': 15,
 'News': 16,
 'Reality-TV': 17,
 'Romance': 18,
 'Sci-Fi': 19,
 'Sport': 20,
 'Talk-Show': 21,
 'Thriller': 22,
 'War': 23,
 'Western': 24}

In [9]:
title_genres['genres_id'] = title_genres['genres_split'].map(genre_map)
title_genres = title_genres.drop(columns='genres_split')
title_genres.head()

      tconst  genres_id
0  tt0035423          5
0  tt0035423          9
0  tt0035423         18
1  tt0062336          7
2  tt0069049          7

In [10]:
rename_tconst = {'tconst':'title_basics_tconst'}
title_genres = title_genres.rename(rename_tconst, axis=1)
title_genres

      title_basics_tconst  genres_id
0               tt0035423          5
0               tt0035423          9
0               tt0035423         18
1               tt0062336          7
2               tt0069049          7
...                   ...        ...
86977           tt9916190          0
86977           tt9916190          2
86977           tt9916190         22
86978           tt9916362          7
86978           tt9916362         11

[162600 rows x 2 columns]

In [11]:
with open('/Users/Lovei/.secret/mysql.json')as f:
    login = json.load(f)
    
login.keys()

dict_keys(['username', 'password'])

In [12]:
connection  = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movies"
engine = create_engine(connection)
conn = engine.connect()

In [13]:
# Set primary key and load df to sql
title_genres.to_sql('title_genres', engine, index=False, if_exists='append')     #commented out to avoid integrity error if ran again

162600

In [14]:
genres = pd.DataFrame({'name': genre_map.keys(),
                      'id':genre_map.values()})
genres.head()

        name  id
0     Action   0
1      Adult   1
2  Adventure   2
3  Animation   3
4  Biography   4

In [25]:
# load df to sql
genres.to_sql('genres', engine, index=False, if_exists='append')

IntegrityError: (pymysql.err.IntegrityError) (1062, "Duplicate entry '1' for key 'genres.PRIMARY'")
[SQL: INSERT INTO genres (name, id) VALUES (%(name)s, %(id)s)]
[parameters: ({'name': 'Action', 'id': 0}, {'name': 'Adult', 'id': 1}, {'name': 'Adventure', 'id': 2}, {'name': 'Animation', 'id': 3}, {'name': 'Biography', 'id': 4}, {'name': 'Comedy', 'id': 5}, {'name': 'Crime', 'id': 6}, {'name': 'Drama', 'id': 7}  ... displaying 10 of 25 total bound parameter sets ...  {'name': 'War', 'id': 23}, {'name': 'Western', 'id': 24})]
(Background on this error at: https://sqlalche.me/e/14/gkpj)

# Create tmdb_data table

In [16]:
tmdb = pd.DataFrame()

In [17]:
tmdb['imdb_id']=[]

In [18]:
tmdb['revenue']=[]

In [19]:
tmdb['budget']=[]

In [20]:
tmdb['certification']=[]

In [21]:
tmdb

Empty DataFrame
Columns: [imdb_id, revenue, budget, certification]
Index: []

In [22]:
from sqlalchemy.types import *
# Make dictionary with column and datatype
tmdb_types = {"imdb_id":CHAR(12),
            "revenue":FLOAT(),
            "budget":FLOAT(),
            "certification":VARCHAR(7)}

In [23]:
# save to sql 
tmdb.to_sql('tmdb_data', conn, dtype=tmdb_types, if_exists='replace', index=False)

0

In [24]:
engine.execute('''ALTER TABLE tmdb_data ADD PRIMARY KEY ('imdb_id');''')

ProgrammingError: (pymysql.err.ProgrammingError) (1064, "You have an error in your SQL syntax; check the manual that corresponds to your MySQL server version for the right syntax to use near ''imdb_id')' at line 1")
[SQL: ALTER TABLE tmdb_data ADD PRIMARY KEY ('imdb_id');]
(Background on this error at: https://sqlalche.me/e/14/f405)

In [26]:
q = """SHOW TABLES;"""
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres
4        tmdb_data

In [27]:
#display genres db info
q = '''DESCRIBE genres;'''
describe_g = pd.read_sql(q, conn)
describe_g

  Field         Type Null  Key Default           Extra
0    id          int   NO  PRI    None  auto_increment
1  name  varchar(30)  YES         None

In [28]:
#display ratings db info
q = '''DESCRIBE ratings;'''
describe_r = pd.read_sql(q, conn)
describe_r

             Field         Type Null  Key Default Extra
0           tconst  varchar(12)   NO  PRI    None
1   average_rating        float  YES         None
2  number_of_votes          int  YES         None

In [29]:
#display title_basics db info
q = '''DESCRIBE title_basics;'''
describe_tb = pd.read_sql(q, conn)
describe_tb

           Field          Type Null  Key Default Extra
0         tconst   varchar(12)   NO  PRI    None
1  primary_title  varchar(250)  YES         None
2     start_year           int  YES         None
3        runtime           int  YES         None

In [30]:
#display title_genres db info
q = '''DESCRIBE title_genres;'''
describe_tg = pd.read_sql(q, conn)
describe_tg

                 Field         Type Null Key Default Extra
0  title_basics_tconst  varchar(12)   NO        None
1            genres_id          int   NO        None

In [31]:
#display tmdb_data db info
q = '''DESCRIBE tmdb_data;'''
describe_td = pd.read_sql(q, conn)
describe_td

           Field        Type Null Key Default Extra
0        imdb_id    char(12)  YES        None
1        revenue       float  YES        None
2         budget       float  YES        None
3  certification  varchar(7)  YES        None

In [32]:
# Confirm data has been added
q = """
SELECT * FROM genres
LIMIT 5;
"""
pd.read_sql(q,engine)

Empty DataFrame
Columns: [id, name]
Index: []

In [33]:
# Confirm data has been added
q = """
SELECT * FROM ratings
LIMIT 5;
"""
pd.read_sql(q,engine)

      tconst  average_rating  number_of_votes
0  tt0035423             6.4            87153
1  tt0062336             6.4              175
2  tt0069049             6.7             7754
3  tt0088751             5.2              336
4  tt0096056             5.6              846

In [34]:
# Confirm data has been added
q = """
SELECT * FROM title_basics
LIMIT 5;
"""
pd.read_sql(q,engine)

,tconst,primary_title,start_year,runtime
0,tt0035423,Kate & Leopold,2001,118
1,tt0062336,The Tango of the Widower and Its Distorting Mi...,2020,70
2,tt0069049,The Other Side of the Wind,2018,122
3,tt0088751,The Naked Monster,2005,100
4,tt0096056,Crime and Punishment,2002,126

In [35]:
# Confirm data has been added
q = """
SELECT * FROM title_genres
LIMIT 5;
"""
pd.read_sql(q,engine)

  title_basics_tconst  genres_id
0           tt0035423          5
1           tt0035423          9
2           tt0035423         18
3           tt0062336          7
4           tt0069049          7

In [36]:
# Confirm data has been added
q = """
SELECT * FROM tmdb_data
LIMIT 5;
"""
pd.read_sql(q,engine)

Empty DataFrame
Columns: [imdb_id, revenue, budget, certification]
Index: []