# Part 4B Hypothesis Testing
-Loveida Lucero

**Imports**

In [1]:
# Import packages
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import glob
## Importing the OS and JSON Modules
import os,json
# importing plotly
import plotly.express as px
from sqlalchemy import create_engine
from sqlalchemy_utils import database_exists, create_database
import pymysql
pymysql.install_as_MySQLdb()
from urllib.parse import quote_plus as urlquote

**Load Data**

In [2]:
# Use glob to get all filepaths that match the pattern (*=wildcard)
tmdb_files = sorted(glob.glob("Data/final_tmdb_data*.csv.gz"))
tmdb_files

['Data\\final_tmdb_data_2000.csv.gz',
 'Data\\final_tmdb_data_2001.csv.gz',
 'Data\\final_tmdb_data_2002.csv.gz',
 'Data\\final_tmdb_data_2003.csv.gz',
 'Data\\final_tmdb_data_2004.csv.gz',
 'Data\\final_tmdb_data_2005.csv.gz',
 'Data\\final_tmdb_data_2006.csv.gz',
 'Data\\final_tmdb_data_2007.csv.gz',
 'Data\\final_tmdb_data_2008.csv.gz',
 'Data\\final_tmdb_data_2009.csv.gz',
 'Data\\final_tmdb_data_2010.csv.gz',
 'Data\\final_tmdb_data_2011.csv.gz',
 'Data\\final_tmdb_data_2012.csv.gz',
 'Data\\final_tmdb_data_2013.csv.gz',
 'Data\\final_tmdb_data_2014.csv.gz',
 'Data\\final_tmdb_data_2015.csv.gz',
 'Data\\final_tmdb_data_2016.csv.gz',
 'Data\\final_tmdb_data_2017.csv.gz',
 'Data\\final_tmdb_data_2018.csv.gz',
 'Data\\final_tmdb_data_2019.csv.gz',
 'Data\\final_tmdb_data_2020.csv.gz',
 'Data\\final_tmdb_data_2021.csv.gz',
 'Data\\final_tmdb_data_2022.csv.gz']

In [3]:
# Use read_csv in a list comprehension and combine with concat to load all files
df = pd.concat([pd.read_csv(f) for f in tmdb_files] )
df

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
0,0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.50,22.0,NaN
2,tt0113092,0.0,NaN,NaN,0.0,"[{'id': 878, 'name': 'Science Fiction'}]",NaN,110977.0,en,For the Cause,...,0.0,100.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,The ultimate showdown on a forbidden planet.,For the Cause,0.0,5.45,10.0,NaN
3,tt0116391,0.0,NaN,NaN,0.0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,442869.0,hi,Gang,...,0.0,152.0,"[{'english_name': 'Hindi', 'iso_639_1': 'hi', ...",Released,NaN,Gang,0.0,4.00,1.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.10,2369.0,PG
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3924,tt9888954,0.0,NaN,NaN,0.0,[],NaN,1183545.0,en,Reanimation Team,...,0.0,98.0,[],Released,NaN,Reanimation Team,0.0,0.00,0.0,NaN
3925,tt9893130,0.0,NaN,NaN,0.0,"[{'id': 27, 'name': 'Horror'}, {'id': 28, 'nam...",NaN,972731.0,en,"2025: Blood, White & Blue",...,0.0,135.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,THE PURGE meets US,"2025: Blood, White & Blue",0.0,7.00,2.0,NaN
3926,tt9893158,0.0,NaN,NaN,0.0,"[{'id': 80, 'name': 'Crime'}, {'id': 10749, 'n...",NaN,796955.0,en,Clowning,...,0.0,96.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Warm nights... Feels like death in the sand du...,Clowning,0.0,8.00,1.0,NaN
3927,tt9893160,0.0,/bsN0OyA6ZSQ3vkvNMaoNgp4woB6.jpg,NaN,0.0,"[{'id': 53, 'name': 'Thriller'}, {'id': 80, 'n...",NaN,606303.0,en,No Way Out,...,0.0,89.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Find what you love and let it kill you.,No Way Out,0.0,5.20,13.0,NaN
3928,tt9904648,0.0,/ibWj2ARVrAabIWDq5vSXoJRZfVV.jpg,NaN,0.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10749, '...",https://contrastmovie.com/,933557.0,en,The Contrast,...,0.0,82.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Everybody loves... somebody else.,The Contrast,0.0,3.00,1.0,NaN

# Prep Data for SQL Transfer

In [4]:
# find total movies with valid revenue
filter_revenue = df['revenue'] >0
filter_revenue.sum()

8145

In [5]:
# find total movies with valid revenue
filter_budget = df['budget'] >0
filter_budget.sum()

11506

In [6]:
filter_financial = filter_revenue | filter_budget
filter_financial.sum()

14316

In [7]:
# Remove any movies with 0's for budget AND revenue from the remaining visualizations.
df = df[filter_financial]
df.info()
df.head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14316 entries, 1 to 3911
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   imdb_id                14316 non-null  object
 1   adult                  14316 non-null  float64
 2   backdrop_path          11585 non-null  object
 3   belongs_to_collection  1895 non-null   object
 4   budget                 14316 non-null  float64
 5   genres                 14316 non-null  object
 6   homepage               5481 non-null   object
 7   id                     14316 non-null  float64
 8   original_language      14316 non-null  object
 9   original_title         14316 non-null  object
 10  overview               14224 non-null  object
 11  popularity             14316 non-null  float64
 12  poster_path            13821 non-null  object
 13  production_companies   14316 non-null  object
 14  production_countries   14316 non-null  object
 15  release_date           14176 non-null  object
 16  revenue                14316 non-null  float64
 17  runtime                14316 non-null  float64
 18  spoken_languages       14316 non-null  object
 19  status                 14316 non-null  object
 20  tagline                9136 non-null   object
 21  title                  14316 non-null  object
 22  video                  14316 non-null  float64
 23  vote_average           14316 non-null  float64
 24  vote_count             14316 non-null  float64
 25  certification          7352 non-null   object
dtypes: float64(9), object(17)
memory usage: 2.9+ MB

,imdb_id,adult,backdrop_path,belongs_to_collection,budget,genres,homepage,id,original_language,original_title,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,certification
1,tt0113026,0.0,/vMFs7nw6P0bIV1jDsQpxAieAVnH.jpg,NaN,10000000.0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10402, '...",NaN,62127.0,en,The Fantasticks,...,0.0,86.0,"[{'english_name': 'English', 'iso_639_1': 'en'...",Released,Try to remember the first time magic happened,The Fantasticks,0.0,5.5,22.0,NaN
4,tt0118694,0.0,/n4GJFGzsc7NinI1VeGDXIcQjtU2.jpg,NaN,150000.0,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,843.0,cn,花樣年華,...,14204632.0,99.0,"[{'english_name': 'Cantonese', 'iso_639_1': 'c...",Released,"Feel the heat, keep the feeling burning, let t...",In the Mood for Love,0.0,8.1,2369.0,PG

In [8]:
print(f"There are {len(df)} movies with valid revenue.")

There are 14316 movies with valid revenue.

In [9]:
cols_to_drop = ['adult','backdrop_path','belongs_to_collection','genres','homepage','id','original_language','original_title','overview','popularity','poster_path','production_companies','production_countries','release_date','runtime','spoken_languages','status','tagline','title','video','vote_average','vote_count']
tmdb_data=df.drop(columns=cols_to_drop)
tmdb_data.info()
tmdb_data.head(2)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 14316 entries, 1 to 3911
Data columns (total 4 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   imdb_id        14316 non-null  object
 1   budget         14316 non-null  float64
 2   revenue        14316 non-null  float64
 3   certification  7352 non-null   object
dtypes: float64(2), object(2)
memory usage: 559.2+ KB

     imdb_id      budget     revenue certification
1  tt0113026  10000000.0         0.0           NaN
4  tt0118694    150000.0  14204632.0            PG

In [10]:
#save as new file
tmdb_data.to_csv(f"Data/tmdb_results_complete.csv.gz", compression="gzip", index=False)

# SQL Transfer

In [11]:
with open('/Users/Lovei/.secret/mysql.json')as f:
    login = json.load(f)
    
login.keys()

dict_keys(['username', 'password'])

In [12]:
connection  = f"mysql+pymysql://{login['username']}:{login['password']}@localhost/movies"
engine = create_engine(connection)
conn = engine.connect()

In [13]:
from sqlalchemy.types import *
# Make dictionary with column and datatype
tmdb_types = {"imdb_id":CHAR(12),
            "revenue":FLOAT(),
            "budget":FLOAT(),
            "certification":VARCHAR(7)}

In [14]:
# Load df to sql
tmdb_data.to_sql('tmdb_data', engine, dtype=tmdb_types, index=False, if_exists='replace')

14316

In [15]:
# Set primary key for tmdb_data
q = '''ALTER TABLE tmdb_data ADD PRIMARY KEY (`imdb_id`);'''
engine.execute(q)

C:\Users\Lovei\AppData\Local\Temp\ipykernel_16448\951478637.py:3: RemovedIn20Warning: Deprecated API features detected! These feature(s) are not compatible with SQLAlchemy 2.0. To prevent incompatible upgrades prior to updating applications, ensure requirements files are pinned to "sqlalchemy<2.0". Set environment variable SQLALCHEMY_WARN_20=1 to show all deprecation warnings.  Set environment variable SQLALCHEMY_SILENCE_UBER_WARNING=1 to silence this message. (Background on SQLAlchemy 2.0 at: https://sqlalche.me/e/b8d9)
  engine.execute(q)

# Confirm Data Transfer in SQL

In [16]:
q = """SHOW TABLES;"""
pd.read_sql(q, conn)

  Tables_in_movies
0           genres
1          ratings
2     title_basics
3     title_genres
4        tmdb_data

In [17]:
#display tmdb_data db info
q = '''DESCRIBE tmdb_data;'''
describe_td = pd.read_sql(q, conn)
describe_td

           Field        Type Null  Key Default Extra
0        imdb_id    char(12)   NO  PRI    None
1         budget       float  YES         None
2        revenue       float  YES         None
3  certification  varchar(7)  YES         None

In [18]:
# Confirm data has been added
q = """
SELECT * FROM tmdb_data
LIMIT 5;
"""
pd.read_sql(q,engine)

     imdb_id      budget     revenue certification
0  tt0035423  48000000.0  76019000.0         PG-13
1  tt0069049  12000000.0         0.0             R
2  tt0088751    350000.0         0.0          None
3  tt0113026  10000000.0         0.0          None
4  tt0118589  22000000.0   5271670.0         PG-13